.App {
  font-family: sans-serif;
  text-align: center;
}

.win {
  animation: blinker 1s ease-in-out infinite;
  font-size: 60px;
  font-weight: bolder;
  background-clip: text;
  background-image: radial-gradient(circle,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  color: transparent;
}

@keyframes blinker {
  50% {
    opacity: 0.9;
    background-image: linear-gradient(yellow,
        red,
        indigo,
        violet,
        green,
        orange,
        blue);
  }
}

.again {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid #2d6898;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.win {
  animation: blinker 1s ease-in-out infinite;
  font-size: 60px;
  font-weight: bolder;
  background-clip: text;
  background-image: radial-gradient(circle,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  color: transparent;
}

@keyframes blinker {
  50% {
    opacity: 0.9;
    background-image: linear-gradient(yellow,
        red,
        indigo,
        violet,
        green,
        orange,
        blue);
  }
}

.again {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid #2d6898;
}